extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner GitLab Coffee Shop
    div.Message
      div.Title
        h3 Every Friday
        h1 Free Coffee between 3-4pm!
    div.NavButtons
      a(href="/user")
          div.NavButton Menu
